header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav button:hover {
    color: #b5e85d; 
}

nav button {
    background-color: #333;
    color: white;
    border-style: none;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

img{
    max-width: 40%;
    max-height: 30%;
    padding-left: 30%;
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #333;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
